body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin: 0%;
    /* visuals */
    background-color: #302558;
    color: #A595B7;
}

.my-name {
    font-family: 'Lucida Handwriting';
    text-align: center;
    /* visuals */
    background: repeating-linear-gradient(to bottom, #0ff 0, #A595B7 70px, #b694dc 110px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    margin-top: -2px;
    text-align: left;

    /* make it so that section extends to 85% of the visible screen so that it reaches the bottom */
    min-height: 85vh;
    display: flex;
    flex-direction: column;

    /* visuals */
    background-color: #3a2a61;
    color: #A595B7;
    box-shadow: 0 0 80px 70px #A595B7, /* inner */
                0 0 120px 80px #0ff; /* outer */
}

p {
    margin-block: 0;
    padding-block: 10px;
}

li {
    padding-bottom: 10px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

hr {
    border-style: solid;
    margin-block: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 77px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 25px;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

h3 {
    font-size: 33px;
    margin-bottom: 5px;
}

h4 {
    font-size: 28px;
    margin-bottom: 5px;
}

h5 {
    font-size: 23px;
    margin-top: 2px;
    margin-bottom: -2px;
}

.section-heading {
    /* visuals */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #20cfcf, #b694dc, rgba(255, 255, 255, 0));
    color: #3a2a61;
    text-align: center;
}

.nav-container {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    /* visuals */
    background-color: #599bae;
    border-bottom: 5px solid #397F93;
}

.nav-heading {
    font-size: 24px;
    float: left;
    display: block;
    padding: 15px;
    /* visuals */
    color: #BEE0EA;
}

.nav-tab {
    padding-bottom: 0;
}

    .nav-tab a:hover {
        /* visuals */
        background-color: #408ca1;
    }

    .nav-tab a.current {
        /* visuals */
        background-color: #397F93;
    }

/* used to account for scrollbar at the top when jumping to a section using the navbar */
.anchor {
    scroll-margin-top: 50px;
}

footer {
    font-size: 22px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;

    /* so that footer connects to bottom of section */
    margin-top: auto;

    /* visuals */
    background-color: #599bae;
    color: #BEE0EA;
    border-top: 5px solid #397F93;
}

.icon {
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
    color: #BEE0EA;
    display: inline-block; /* Ensure icons are displayed inline */
    position: relative; /* Enable positioning */
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

    .icon:hover {
        transform: scale(1.25); /* Scale up to 1.25 times the original size */
    }

.column {
    flex: 1; /* Each column takes up equal space */
}



.skill-col-container {
    display: flex;
    padding-left: 25%;
}

    .skill-heading {
        padding-bottom: 10px;
        text-decoration: underline;
    }

    .skill {
        display: flex;
        align-items: center; /* Center vertically */
        margin-block-start: 5px;
    }

    .skill-img {
        margin-right: 5px; /* Adjust spacing between image and text */
        margin-left: 20px; /* Adjust indent */
        width: 30px;
    }

        .skill-text {
            margin-block: 0px;
        }



/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A595B7;
    border-bottom: none;
    /* visuals */
    background-color: #A595B7;
    color: #3a2a61;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        font-weight: bold;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            /* visuals */
            background-color: #755f99; /*#d1c8db;*/
        }

        /* Create an active/current tablink class */
        .tab button.active {
            /* visuals */
            background-color: #523c78; /*#c0b0d1;*/
            color: #A595B7;
        }

/* Style the tab content */
.tabcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    padding-bottom: 15px;
    flex-direction: column;
    /* visuals */
    border: 3px solid #A595B7;
    border-top: none;
    background-color: #523c78;
}



.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 20px;
    row-gap: 40px;
    max-width: 800px;
    padding-top: 20px;
}

.card {
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    /* visuals */
    background-color: #A595B7;
    color: #551a8b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    .card-img {
        border-radius: 5px 5px 0 0;
    }

    .card-container {
        padding: 10px 20px;
    }

        .card-container p {
            margin-left: 0%;
            margin-right: 0%;
        }

    .card-info {
        /* visuals */
        color: #7d6b8c;
    }
    .card-clickable:hover {
        /* visuals */
        box-shadow: 0 16px 24px 0 rgba(0,0,0,0.5);
    }

.gameplay {
    padding-top: 20px;
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
}

    .gameplay-card {
        display: flex;
        flex-direction: row; /* Stack items horizontally */
        border-radius: 5px;
        text-align: left;
        /* visuals */
        background-color: #A595B7;
        color: #551a8b;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .gameplay-img {
        border-radius: 5px 0 0 5px;
    }

    .gameplay-text {
        padding: 15px;
    }



/* the main text of the About Me page */
.description {
    padding-left: 2%;
    padding-right: 2%;
    flex: 2.5;
}

    .description-container {
        display: flex;
        flex-direction: row; /* Stack items horizontally */
        padding-top: 20px;
    }

    .description-img {
        min-width: 200px;
        flex: 1;
    }

.italic-heading {
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

/* the main text of the Skills and Portfolio pages */
.summary {
    margin: 0 auto; /* Center horizontally */
    max-width: 1000px;
    padding-block: 10px;
}

.experience {
    margin-left: 15%;
    margin-right: 15%;
}



/* Apply styles when screen width is less than or equal to given value */
@media screen and (max-width: 768px) {
    .skill-col-container {
        padding-left: 0%;
    }

        .skill-column {
            padding-left: 10%;
        }
    
    .games-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        max-width: 350px;
        margin: 0 auto; /* Center horizontally */
    }

    .gameplay-card {
        flex-direction: column; /* Stack items vertically */
        max-width: 350px;
        margin: 0 auto; /* Center horizontally */
    }

    .gameplay-img {
        border-radius: 5px 5px 0 0;
    }

    .description-container {
        flex-direction: column; /* Stack items vertically */
    }

        .description-img {
            min-width: auto; /* Remove minimum width */
            max-width: 350px;
            margin: 0 auto; /* Center horizontally */
        }

        .description {
            flex: 1; /* Take remaining space */
        }

    .experience {
        margin-left: 0;
        margin-right: 0;
    }

    h4 {
        font-size: 26px;
    }

    .italic-heading {
        font-size: 22px;
    }
}