body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin: 0%;
    /* visuals */
    /*background-color: #302558;
    background-image: url("Assets/background.png");
    background-repeat: repeat-y;
    background-size: 100% 100vh;*/
    /*background: linear-gradient(to right, #9a85b1 0%, #3a2a61 5%, #302558 10%, #302558 92%, #397f93 100%);
    background: linear-gradient(to bottom right, #9a85b1 0%, #302558 10%, #302558 85%, #397f93 100%);*/
    background-color: #302558;
    /*background: linear-gradient(to right, #27245d 0%, #3a2a61 8%, #3a2a61 92%, #27245d 100%);
    background: linear-gradient(to bottom, #599bae 0%, #302558 20%, #302558 92%, #599bae 100%);*/
    color: #A595B7;
}

.my-name {
    font-family: 'Lucida Handwriting';
}

section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    margin-top: -2px;
    text-align: left;
    /* visuals */
    background-color: #3a2a61;
    color: #A595B7;
    
    box-shadow: 0 0 80px 70px #A595B7, /* middle magenta */
    0 0 120px 80px #0ff; /* outer cyan */
}

p {
    margin-block: 0;
    padding-block: 10px;
}

a {
    text-decoration: none;
}

hr {
    border-style: solid;
    margin-block: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 77px;
    margin-bottom: 0;
    padding-bottom: 25px;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

h3 {
    font-size: 28px;
    margin-bottom: -5px;
}

h4 {
    font-size: 23px;
    margin-top: 2px;
    margin-bottom: -2px;
}

ul {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    /* visuals */
    background-color: #599bae;
    border-bottom: 5px solid #397F93;
}

.nav-heading {
    font-size: 24px;
    float: left;
    display: block;
    padding: 15px;
    /* visuals */
    color: #BEE0EA;
}

    li a:hover {
        /* visuals */
        background-color: #408ca1;
    }

    li a.current {
        /* visuals */
        background-color: #397F93;
    }

/* used to account for scrollbar at the top when jumping to a section using the navbar */
.anchor {
    scroll-margin-top: 50px;
}

footer {
    font-size: 22px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    /*margin-top: 25px;*/
    /* visuals */
    background-color: #599bae;
    color: #BEE0EA;
    border-top: 5px solid #397F93;
}

.icon {
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
    color: #BEE0EA;
    display: inline-block; /* Ensure icons are displayed inline */
    position: relative; /* Enable positioning */
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

    .icon:hover {
        transform: scale(1.25); /* Scale up to 1.25 times the original size */
    }


.column {
    flex: 1; /* Each column takes up equal space */
}

.skill-heading {
    padding-bottom: 10px;
    text-decoration: underline;
}

.skill {
    display: flex;
    align-items: center; /* Center vertically */
    margin-block-start: 5px;
}

.skill-img {
    margin-right: 5px; /* Adjust spacing between image and text */
    margin-left: 20px; /* Adjust indent */
}

.skill-text {
    margin-block: 0px;
}




/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A595B7;
    border-bottom: none;
    /* visuals */
    background-color: #A595B7;
    color: #3a2a61;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        font-weight: bold;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            /* visuals */
            background-color: #755f99; /*#d1c8db;*/
        }

        /* Create an active/current tablink class */
        .tab button.active {
            /* visuals */
            background-color: #523c78; /*#c0b0d1;*/
            color: #A595B7;
        }

/* Style the tab content */
.tabcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    padding-bottom: 15px;
    flex-direction: column;
    /* visuals */
    border: 3px solid #A595B7;
    border-top: none;
    background-color: #523c78;
}



.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 20px;
    row-gap: 40px;
    max-width: 800px;
}

.card {
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    /* visuals */
    background-color: #A595B7;
    color: #551a8b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-clickable:hover {
    /* visuals */
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.5);
}

.card-img {
    border-radius: 5px 5px 0 0;
}

.card-container {
    padding: 10px 20px;
}

    .card-container p {
        margin-left: 0%;
        margin-right: 0%;
    }

.card-info {
    /* visuals */
    color: #7d6b8c;
}

.gameplay {
    padding-top: 20px;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.gameplay-card {
    display: flex;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    /* visuals */
    background-color: #A595B7;
    color: #551a8b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.gameplay-img {
    border-radius: 5px 0 0 5px;
}

.gameplay-text {
    margin: 15px;
}
